@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row home-container mb-5">
        <div class="col-lg-6 col-sm-12 d-flex flex-column justify-content-lg-center mb-md-4">
            <h1 class="pb-4 hero-color">Housing  made simple <br />as ABC. </h1>
            <h3 class="font-weight-normal hero-color pb-4">HouseIT is a platform that lets you <br />own a building at affordable price</h3>
            <a class="text-capitalize hero-button pt-3 pb-3 d-flex justify-content-center">
                <span class="d-inline pr-3">get Started</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5625 5.25L19.3125 12L12.5625 18.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M18.375 12L4.6875 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
        <div class="hero-image col-lg-6 col-sm-12 d-lg-block">
            <img src="~/utils/Group 181.jpg" alt="hero-image" />
        </div>
    </div>
    <div class="row bg-white home-container pt-5 pb-5">
        <div class="col-lg-6 col-sm-12">
            <h1 class="pb-4 hero-color">You might ask,<br /> why HouseIT ?</h1>
            <p class="text-justify">The major issues that continue to affect housing in Nigeria include legislation, high cost of land registration and titling, policy issues, licensing issues, inadequate access to finance, risk sharing mechanism among others. Save yourself the tedium and let HouseIT ease the process of you becoming a home owner</p>
        </div>
        <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
            <img src="~/utils/svg/home-svg.svg" />
        </div>
    </div>
    <div class="row hero-benefit d-flex justify-content-center align-items-center home-container pt-5">
        <div class="col-lg-4 col-sm-12 p-5">
            <div class="hero-ben-list hero-ben-color1 d-flex justify-content-center align-items-center rounded mb-3">
                <img src="~/utils/svg/payment.svg" />
            </div>
            <h5 class="text-capitalize mb-3">payment plan</h5>
            <p class="text-justify hero-ben-txt">HouseIT offers flexible payment plan (Monthly, Quarterly and yearly) to help you achieve your life-long goal of being a home owner  </p>
        </div>
        <div class="col-lg-4 col-sm-12 p-5">
            <div class="hero-ben-list hero-ben-color2 d-flex justify-content-center align-items-center rounded mb-3">
                <img src="~/utils/svg/investment.svg" />
            </div>
            <h5 class="text-capitalize mb-3">payment plan</h5>
            <p class="text-justify hero-ben-txt">Investing in real estate has never been easier with HouseIT allowing ordinary investors to get in on a variety of property types and locations</p>
        </div>
        <div class="col-lg-4 col-sm-12 p-5">
            <div class="hero-ben-list hero-ben-color3 d-flex justify-content-center align-items-center rounded mb-3">
                <img src="~/utils/svg/security.svg" />
            </div>
            <h5 class="text-capitalize mb-3">payment plan</h5>
            <p class="text-justify hero-ben-txt">HouseIT offers flexible payment plan (Monthly, Quarterly and yearly) to help you achieve your life-long goal of being a home owner  </p>
        </div>
    </div>
</div>
