/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0F375A;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #F3F8FC;
    font-family: 'Poppins', sans-serif;
}

/*Custom CSS*/
.logo-main {
    margin-right: 114px;
}

.home-link {
    color: #0F375A !important;
    font-weight: 500;
    transition: all ease-in-out 0.1s
}

    .home-link:hover {
        color: #032644;
        border-bottom: 2px solid #032644;
    }

.home-button {
    color: #ffffff !important;
    background: #0F375A;
    font-weight: 500;
    transition: all ease-in-out 0.1s
}

    .home-button:hover {
        background: #032644;
    }

.home-container {
    padding-left: 67px;
    padding-right: 67px
}

.hero-color {
    color: #0F375A !important;
}

.hero-button {
    color: #ffffff !important;
    background: #0F4D5A;
    width: 238px;
    font-weight: 500;
    transition: all ease-in-out 0.1s
}

    .hero-button:hover {
        background: #023C48;
    }

.hero-benefit {
    background-image: url('../utils/svg/hero-svg.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 416px;
}

.hero-ben-list {
    width: 80px;
    height: 80px;
}

.hero-ben-color1 {
    background: #E4E3BF
}

.hero-ben-color2 {
    background: #C4E0DB
}

.hero-ben-color3 {
    background: #EBDDDD
}

.hero-ben-txt {
    opacity: 0.7;
    font-size: 14px
}

@media (max-width: 750px) {
    .home-button, .home-link {
        display: inline-block
    }

    .home-container {
        padding-left: 20px;
        padding-right: 20px
    }

    .hero-image {
        display: none
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
